<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reglas Existentes</title>
  <link rel="stylesheet" href="/css/view-rules.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
  <div id="view-existing-rules-container">
    <div class="view-existing-rule-header">
      <h1 class="view-existing-rule-title">&#128221; Reglas</h1>
    </div>
    <div class="view-existing-rule-cards-container">
      <% if (rules.length === 0) { %>
      <div class="view-no-rules-message">
        <h2>Añadir regla</h2>
        <button class="view-add-rule-button" onclick="window.location.href='/add-rule'">+</button>
      </div>
      <% } else { %>
      <% rules.forEach(function(rule) { %>
      <% const crop = crops.find(crop => crop.id === rule.crop_id); %>
      <div class="view-existing-rule-card" tabindex="0">
        <div class="view-existing-rule-card-info">
          <p><strong>Nombre:</strong> <%= rule.name %></p>
          <p><strong>Cultivo:</strong> <%= crop ? crop.name : 'Cultivo no encontrado' %></p>
          <p><strong>Condiciones:</strong> <%= formatRuleInfo(rule.rule_info) %></p>
        </div>
        <div class="view-existing-rule-card-actions">
          <button class="view-existing-rule-edit-button" onclick="window.location.href='/views/rules/edit-rule/<%= rule.id %>'"> &#9998; </button>
          <button class="view-existing-rule-delete-button" onclick="openModal(<%= rule.id %>)"> &#128465; </button>
        </div>
      </div>
      <% }) %>
      <% } %>
    </div>

    <% if (rules.length > 0) { %>
    <button class="view-add-rule-button-circle" onclick="window.location.href=''">+</button>
    <% } %>

    <div id="view-existing-rule-modal-overlay" style="display: none;">
      <div class="view-existing-rule-modal-content">
        <h2>¿Estás seguro de que deseas eliminar esta regla?</h2>
        <div class="view-existing-rule-modal-buttons">
          <button class="view-existing-rule-modal-button view-existing-rule-modal-confirm" id="confirmDelete">Aceptar</button>
          <button class="view-existing-rule-modal-button view-existing-rule-modal-cancel" onclick="closeModal()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    let ruleIdToDelete = null;

    function openModal(ruleId) {
      ruleIdToDelete = ruleId;
      document.getElementById('view-existing-rule-modal-overlay').style.display = 'block';
    }

    function closeModal() {
      document.getElementById('view-existing-rule-modal-overlay').style.display = 'none';
      ruleIdToDelete = null;
    }

    document.getElementById('confirmDelete').addEventListener('click', handleDelete);

    async function handleDelete() {
      if (!ruleIdToDelete) return;
      try {
        const response = await fetch(`http://localhost:3000/views/rules/${ruleIdToDelete}`, {
          method: 'DELETE',
        });

        if (response.ok) {
          closeModal();
          window.location.reload();
        } else {
          console.error('Error al eliminar la regla');
        }
      } catch (error) {
        console.error('Error al eliminar la regla:', error);
      }
    }
  </script>
</body>

</html>